@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* colors global */
  --accent: #710707;
  --secondary-accent: #9d8665;
  --text-hover: var(--secondary-accent);
  --link-hover: var(--secondary-accent);
  --link-active: #7e6c51;

  /* colors dark */
  --text-white: #fff;
  --background-dark: #030303;
  --link-unvisited-white: var(--text-white);

  /* colors white */
  --text-dark: #000000;
  --background-white: #fff;
  --link-unvisited-dark: var(--text-dark);

  /* sizes */
  --h1-font-size: 80px;
  --h2-font-size: 32px;
  --h3-font-size: 28px;
  --text-font-size: 22px;
  --text-small-font-size: 18px;

  /* line heights */
  --h1-line-height: 90px;
  --text-line-height: 100%;
  --p-line-height: 38.5px;

  /* letters spacings */
  --h1-spacing: 5px;
  --text-spacing: 2px;
  --p-spacing: 0px;
  --span-spacing: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-dark {
  background-color: var(--background-dark);
}

.bg-white {
  background-color: var(--background-white);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--text-font-size);
  font-weight: 400;
  margin: 0 auto;
}

a {
  text-align: center;
  text-decoration: none;
  color: var(--text-white);
  font-weight: 300;
  vertical-align: middle;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-spacing);
}

a:hover {
  color: var(--link-hover);
}

a:active {
  color: var(--link-active);
}

h1,
h2,
h3,
.name-logo {
  font-family: "Forum", serif;
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  color: var(--text-white);
  line-height: var(--h1-line-height);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-spacing);
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: var(--text-line-height);
  letter-spacing: var(--text-spacing);
}

.container {
  width: 100%;
  padding: 0 240px;
}

header {
  height: 150px;
  width: 100%;

  display: flex;
  align-items: center;

  a {
    color: var(--link-unvisited-white);
  }

  .container {
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .name-logo {
        color: var(--background-white);
        line-height: var(--text-line-height);
        letter-spacing: var(--h1-spacing);
      }
    }

    nav {
      margin-left: auto;
    }

    nav ul {
      display: flex;
      gap: 55px;
    }
  }
}

#Welcome {
  .container {
    display: flex;
    align-items: center;
  }

  .hero-text {
    z-index: 15;
    max-width: 600px;

    h1 {
      margin-bottom: 25px;
    }

    p {
      font-size: var(--h3-font-size);
      color: var(--text-white);
      margin-bottom: 75px;
    }

    a {
      display: flex;
      justify-content: center;

      width: 360px;
      padding: 26.5px 64px;

      background-color: var(--accent);
      border-radius: 10px;
    }

    .hero-main-button:hover {
      background-color: var(--link-hover);
      color: var(--text-white);
    }
  }

  .hero-content {
    height: 800px;
    position: relative;

    #slider {
      position: absolute;
      z-index: 10;
      left: -160px;
    }

    #slider::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 12;
      background: linear-gradient(
        90deg,
        #000000 0%,
        rgba(0, 0, 0, 0.5) 16.19%,
        rgba(0, 0, 0, 0) 30.73%
      );
    }
  }
}
